<div *ngIf="auth.currentUser else Block">
  <div class="chat-message d-flex" *ngFor="let item of com; let idx = index;">
    <button (click)="delCom(item._id)"></button>
    <div class="image-wrapper">
      <img src="{{item.senderUrl}}" class="rounded-circle">
    </div>
    <div class="bubble d-flex flex-column">
      <div class="d-flex align-items-baseline">
        <span>{{item.senderName}} </span>
        <span class="timestamp">{{item.createdAt | date:'medium'}}</span>
      </div>
      <div class="message">
        {{item.title}}
      </div>
    </div>
    <small class="float-right">
      <button class=" btn-outline-primary ml-2" (click)="like(item._id)"><i class="fa fa-heart"></i> Like</button>
      <button class=" text-white btn-danger" (click)="dislike(item._id)"><i class="fa fa-reply"></i> Dislike</button>
    </small>
  </div>
  
  <div class="new-message-wrapper d-flex">
    <div class="input-group">
      <input [(ngModel)]="newMessageText" type="text" class="form-control" placeholder="Enter a new message"
        (keyup.enter)="submit(newMessage.value)" #newMessage>
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="submit(newMessage.value)">Enter</button>
      </div>
    </div>
  </div>  
</div>
<ng-template #Block>
  <span>Войдите на сайт или зарегистрируйтесь, чтобы получить доступ к комментариям</span>
</ng-template>
