/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container-wrapper {
  height: calc(100vh - 60px) !important;
}

.navbar {
  height: 60px;
}
.container-carousel {
  height: calc(70vh - 60px) !important;
}